%head
  %title Danilova Daria's website
  %link{:href => "main_scss.css", :rel => "stylesheet"}/
%body{:bgcolor => "#000000"}
  %h1{:align => "center", :style => "color:#ffffff"}
    %font{:face => "Book Antiqua"} Danilova Daria's website
  %aside
    #current_date
  %nav
    %ul
      %li.on
        %a{:href => ""} Main page
      %li
        %a{:href => ""} About me
      %li
        %a{:href => ""} My hobbies
      %li
        %a{:href => ""} Study
      %li
        %a{:href => ""} Photoalbum
      %li
        %a{:href => ""} Contancts
      %li
        %a{:href => ""} Test
      %li
        %a{:href => ""} History
  .me
    %h2
      %img{:align => "left", :height => "300", :src => "Me.jpg", :width => "200"}
      Danilova Daria Dmitievna
    %h3
      PI/b-19-1-o
      %br/
      laboratory assignment №5
    %script{:src => "menu.js", :type => "text/javascript"}