%color_fill{
	color: white;
}

body {
	font-family: Book Antiqua;
	@extend %color_fill;
}
nav {
	width: 900px;
	margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
	li {
		a {
			@extend %color_fill;
			display: block;
			height: 50px;
			padding: 0 20px;
			text-decoration: none;
			line-height: 50px;
			&:hover {
				background: white;
				color: black;
			}
		}
	}
}

li {
	float: left;
}
$type: no_selected;
.on a, a:hover {
	background: white;
	color: black;
	$type:selected;
	@if $type == selected {
    color: blue;
  }
}



.me {
	color: #c1c1c1;
	margin-left: 200px;
	margin-right: 200px;
	text-align: right;
}
$сlock_width: 14px;
#current_date {
	width: 150px;
	text-align: center;
	color: white;
	border-style: solid;
	border-width: $сlock_width - ( 5px * 2 ) - ( 1px * 2 );
	border-color: white;
}
aside {
	float: left;
	margin-top: 14px;
}